* {
    margin: 0;
    padding: 0;
}

* li  {
list-style-type: none;
}

* body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

*:focus {
    outline: none;
}
/* Navigation bar*/

nav{
    display: flex;
    padding-top: 10px;
}

nav .etsy-title{
    flex:1;
    fill: #F1641E !important;
    background-size: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

nav .search-bar{
    flex: 8;
    border: 1px solid rgba(34, 34, 34, 0.15);
    border-radius: 96px;
    display: flex;
    background-color: rgba(34, 34, 34, 0.07); 
    height: 48px;  
}

nav .search-area{
    border: none;
    background-color: transparent;
    width: 94%;
    margin-left: 2%;
    font-size: 15px;
}

nav .search-lense{
    display: flex;
    align-items: center;    
}

nav .sign-in{
    flex: 0.75;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #222222;
}

nav .cart{
    flex: 0.70;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header{
    
} */

section ul{
    display: flex;
    justify-content: space-around;
    padding: 10px 15px;
    font-size: 14px;
}

nav .hor-menu{
    border-bottom: 2px solid rgba(34, 34, 34, 0.15);
    
}

header{
    border-bottom: 2px solid rgba(34, 34, 34, 0.15);
}

main .first{ margin: 40px;
   
}

main .first .find-things{
    padding-bottom: 10px;
    
    margin-bottom: 20px;
}

main .first .shop-now{
    display: flex;
}

main .first .shop-now .left-part{
    flex: 1;
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #c5d8cd;
    justify-content: center ;
}

main .first .shop-now .left-part  .heading{
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
}

main .first .shop-now .middle-part{
    flex: 2;
}

main .first .shop-now .item-image{
    width: 100%;
}

main .first .shop-now .everyday-supplies .itemimage{
  height: 40%;
}

main .first .everyday-supplies .mask-image{
    width: 350px;
    height: 200px;
    border: 1px solid rgb(190, 188, 188);
    margin-left: 10px;

}

main .first .everyday-supplies .supplies-content {
    position: relative;
    bottom: 200px;
    left: 10%;
    max-width: 50%;    
    font-weight: 600;
    font-size: 20px;
}

main .first .everyday-supplies .shop-now {   
    margin-top: 10px;
    font-size: inherit;
    font-size: 16px;
    font-weight: inherit;  
   
}

.everyday-supplies{   
    display: flex;
    flex-flow: column;
}

main .first  .shop-now .everyday-supplies .support-black{
    position: relative;
    padding-left:20px ;
    font-size: 14px;    
    background-color: #c5d8cd;
    padding: 10px 0px;
    border-radius: 10px;
    bottom: 20%;
    padding: 20px;
    padding-left: 20px;
    margin-left: 10%;
   
} 

main .first .unique{
    margin-top: 20px;
    display: flex;
    padding: 10px 20px;
}

main .first .unique .each-unique{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 32%;
    padding-right: 3%;
    align-items: center;
    justify-content: center;
}

main .first .unique .tick{    
    fill: #F1641E !important;    
}

main .second{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    
}

main .second .popular-main-container{
    display: flex;
    justify-content: space-around;
   
   
}

main .second .popular-main-container ul {
    display: block;
}

main .second .popular-main-container .popular-title{
    font-size: 14px;
}

main .second .popular-main-container .from{
    color: #595959;    
    font-size: 12px;
}

main .second .popular-main-container .free-delivery{
    background-color: #D4E9D7; 
    font-size: 12px;
    font-weight: 500;
    padding:2px;
    border-radius: 8px;
}

main .third ul li{
    border: 1px solid rgba(34, 34, 34, 0.15);
    border-radius: 5px;
}

main .third ul li div{
    padding-bottom: 20px;
    padding-left: 4px;
}
/* 
main .third .third-images{
         
} */

main .fourth {
    background-color:rgb(253, 235, 210);
    padding-top: 30px;
    text-align: center;
    
}

main .fourth .headline{
    justify-content: center;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
}

main .fourth .read{  
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
}

main .fourth .heading{
    font-size: 26px;
}

main .fourth .stories-container{
    padding-left: 5%;
    
}

main .fourth .list {
    display: flex;
    justify-content: space-around;
}

main .fourth .list ul{
    display: block;
    text-align: inherit;
}

main .fourth .story-each{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;   
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    background-color: #232347 !important;
    color: white;
}

footer ul{
    display: flex;     
}

footer .country-lang{
    margin-right: auto;
}

footer .terms-privacy{
    margin-left: auto;
}