* {
    margin: 0;
    padding: 0;
}

* li  {
list-style-type: none;
}

* body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*:focus {
    outline: none;
}

body{
    color: white;
    background-color: black;
}

header .header-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    height: 50px;
}

header .header-main .choose{
    width: 30%;
}

header .header-main .choose .choose-container{
    display: flex;
    font-size: 12px ;
    justify-content: space-around;
    align-items: center;
}

header .header-main .choose .close-button{
    font-size: 24px;
    opacity: 0.8;
}

.close-button:hover{
    color: rgb(143, 140, 140);
    
}

header .header-main .choose .choose-container ul li{
    padding-right: 10px;
}

.choose-container li{
   text-decoration: none;

}

.choose-container li :hover{
    text-decoration: underline;
}

header .header-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-title span{
    margin-left: 10px;
}

main{
    text-align: center;
    padding-top: 40px;
}

main .search-body .navigations{
    display: flex;
    justify-content: space-around;
}

main .search-body .navigations .part-1 ul{
    display: flex;
    font-size: 14px;
    font-weight: 700;
}
main .search-body .navigations .part-1 ul li {
    padding-right: 10px;
}


main .search-body .navigations .part-2 ul{
    display: flex;
}

.sign-up-button{
    border: 2px solid white;
    text-align: center;
    padding: 4px 18px;
    border-radius: 4px;
    transition: 0.5s;
}

.sign-up-button:hover{
    background-color: white;
    color: gray;
    transition: 0.5s;
}

.part-1 ul li:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

.part-2 ul li a:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}





main .search-body .navigations .part-2 ul li{
    font-size: 14px;
    font-weight: 700;
    /* padding-right: 30px; */
    margin-right: 30px;
}

main .search-middle-body{
    margin-top: 100px;
}

.search-middle-body li:hover{
    text-decoration: underline;
}

main .search-middle-body .services ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 0% 30%;
}

main .services ul li{
    display: flex;
}

main .search-middle-body .services .search-bar{
    
    display: flex;
    /* background-color: coral; */
    justify-content: center;
    align-items: center;
    height: 50px;
    /* padding: 0% 15%; */
}

main .search-body .about-yelp{
    margin-top: 30px;
    padding: 0% 30%;
    font-size: 14px;
}

main .search-body .learn-more{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 40px;
}

main .services .search-bar .search-container{
    display: flex;
    background-color: white;
    /* padding: 5px 0px; */
    /* padding-top: 5px;
    padding-bottom: 5px; */
    height: 40px;
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;

}

main .services .search-bar .search-container .search-icon-container{
    background-color: red;
    padding-top: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

main .search-input{
    /* margin-top: 30px; */
    width: 80%;
    height: 30px;
    background-color: transparent;
    border: none;
    /* margin-bottom: 20px; */
}

main .search-bar .search-header{
    color: #666;
    margin-top: 3px;
    margin-right: 8px;
    font-weight: 700;
    padding-left: 10px;
}

main .best-business{
    background-color: #f5f5f5!important;
    padding-bottom: 30px;
}


main .best-business .business-title{
    padding-top: 24px;
    color: red;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 24px;
}

main .best-business .business-category{
  
    display: flex;
    justify-content: space-around;
    padding: 0% 15%;

}

main .best-business .business-category .service-image-container{
    background-color: violet;
    height: 174px;
}

.category-container:hover{
    box-shadow:
    0 1.8px 1.2px rgba(0, 0, 0, 0.034),
    0 2.7px 1.3px rgba(0, 0, 0, 0.048),
    0 1.5px 1px rgba(0, 0, 0, 0.06),
    0 2.3px 7.9px rgba(0, 0, 0, 0.072),
    0 4.8px 3.4px rgba(0, 0, 0, 0.086),
    0 10px 8px rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;   
    cursor: pointer;
}

main .best-business .business-category .category-container{
    background-color: #fff;
    border:1px solid #e6e6e6;
    border-radius: 4px;
    color: black;
}

main .best-business .business-category .category-container .category-names{
    padding: 10px;
    font-weight: 600;
}

main .locations{
    background-color:white;
    padding: 0% 10%;
    color: black;
}

.location-nav li:hover{
    border-bottom: 2px solid red;
    /* padding-bottom: 10px; */
}

main .locations .yelp-title{
    padding-top: 24px;
    color: red;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 24px;
}

main .locations .business-section{
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 0% 5%;
}

main .locations .business-section .business-container{
    border: 1px solid rgb(209, 209, 207);
    border-radius: 5px;
}

main .locations .location-nav{
    display: flex;
    justify-content: space-around;
    padding: 0% 20%;
   ;
    color: #666;
    padding-bottom: 5px;
    /* margin-bottom: 24px; */
}

main .locations .title{
    border-top: 1px solid rgb(226, 224, 224);
    color: red;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

main .locations .item{
    text-align: left;
    color: #005991;
    font-weight: 600;
}

main .business-section .business-container .details{
    padding-left: 10px;
    padding-bottom: 10px;
}

#one {
   /* position: absolute; */
   clip: rect(117px,60px,130px,0px);
   margin-bottom: 200px;
   width: 100px;
   height: 170px;   /*Change this value to select particular start value*/
   object-fit: cover;   
   overflow: hidden;
}


.rating-star{
    /* position: absolute; */
    clip: rect(117px,60px,130px,0px);
    margin-bottom: 200px;
    width: 100px;
    height: 97px;   /*Change this value to select particular start value*/
    object-fit: cover;   
    overflow: hidden;
 }
 

 #three{
    /* position: absolute; */
    clip: rect(117px,60px,130px,0px);
    margin-bottom: 200px;
    width: 100px;
    height: 133px;   /*Change this value to select particular start value*/
    object-fit: cover;   
    overflow: hidden;
 }
 



.review-number{
    margin-left: 2px;
    position: relative;
    bottom: 2px;
    color: rgb(206, 203, 203);
}

.review-time{
    position: relative;
    color: #f15c00;
    bottom: 3px;
}

main .review{
    color: black;
    background-color: white;
    text-align: left;
}

main .review .review-para{
    width: 100%;
}

main .review-section .review{
    display: flex;
    flex-direction: row;
    padding: 0% 10%;
}

main .review-section .review .review-container{
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    font-size: 14px;
    width: 90%;
    margin-left: 11%;
}

main .review-details{
    background-color:#d0ecfb;width:100%;display:flex;align-items: center;height: 20px; border-radius: 4px;margin:15px 0px;

}

main .collection-item .bookmark{
    width: 14px;
    position: relative;
    bottom: 38px;
    margin-left: 40px;
    background-color:rgba(0,0,0,.3);
    padding: 10px;
    
    
}

main .review .read-more{
    color:#0073bb;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

main .collection-container{
    margin-left: 5%;
    margin-right: 7%;
    width: 30%;
}

main .review-section .collection-main{
    padding: 8px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    /* margin-left: 10%; */
}

main .review-section .collection-main .collection-item{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-bottom: 10px;
}

main .review-section .collections{
    display: flex;
    font-size: 14px;
}

main .review-section .review .title{
    color: red;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

main .review-section .collections img{
    width: 75px;   
    margin-right: 10px;
}

main .review-section .collections .item{
    border-radius: 4px;
}

main .review-section .collections .title{
    color: #0073bb;
    font-weight: 600;
    text-align: left;
}

main .review-section .collections .places{
    color: rgb(160, 159, 159);
}

main .review-section .collections .user-name{
    color: #0073bb;
}


main .activity{
    background-color: white;
}

main .activity .activity-main{
    display: flex;
    justify-content: space-around;
    padding: 0% 11%;
    text-align: left;
}

main .activity-main .left-part{
    padding: 5px;
    /* background-color: yellow; */
    background-color: white;
    color: black;
    
}

main .activity .user-name{
    color: #0073bb;
    font-size: 14px;
    font-weight: 700;
}

main .activity .user-details{
    padding-left: 10px;
    font-size: 14px;
}

main .activity .user-profile{
    border-bottom: 1px solid rgb(221, 221, 221);
    padding:6px 0px
}

.like-button:hover {
    color: red;
}

main .activity .user-profile img{
    border-radius: 4px;
}


main .activity-main .activity-icon{
    display: flex;
    border-top: 1px solid rgb(221, 221, 221);
    padding: 5px 0px;
    margin-top: 6px;
}
main .activity .activity-main .each-activity{
    border: 1px solid rgb(221, 221, 221);
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 30px;
}

main .activity-main .mid-part{
    padding: 5px;
    /* background-color: red; */
    color: black;
}

main .activity-main .right-part{
    padding: 5px;
    background-color: white;
    color: black;
}

main .activity .activity-main div{
     flex: 1;
}

main .category{
    padding-top: 30px;
    background-color: #f5f5f5!important;
    padding-bottom: 30px;
}

main .category .category-title{
    color: red;
    font-size: 13px;
    margin-bottom: 20px;
}

main .activity .photo-box-img{
   width: 100%;
   overflow-y: hidden;
   overflow-x: hidden;

   
}

main .category .category-main-container{
   
    display: flex;
    justify-content: space-around;
    margin: 0% 15%;
    margin-bottom: 30px;
}

main .category .category-main-container li{
    padding: 11px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 14px;
    color: black;
    background-color: white;
    width: 22%;
}

main .category .category-main-container li:hover{

    border: 1px solid rgb(78, 78, 235);
    box-shadow:
    0 1.8px 1.2px rgba(0, 0, 0, 0.034),
    0 2.7px 1.3px rgba(0, 0, 0, 0.048),
    0 1.5px 1px rgba(0, 0, 0, 0.06),
    0 2.3px 7.9px rgba(0, 0, 0, 0.072),
    0 4.8px 3.4px rgba(0, 0, 0, 0.086),
    0 10px 8px rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;   
    cursor: pointer;
}

main .see-more{
    padding-top: 10px;
    color: #0073bb;
    padding-bottom: 20px;
}

main .apps{
    padding-top: 45px;
    background-color: white;
}

main .apps .app-title{
    color: red;
    font-size: 14px;
}
main .apps .yelp-apps{
    display: flex;
    margin: 0% 15%;
    padding-bottom: 35px;
}

.each-app{
    color: black;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 30px;
    width: 100%;
    margin: 2%;
}

.each-app:hover{
    border: 1px solid rgb(78, 78, 235);
    box-shadow:
    0 1.8px 1.2px rgba(0, 0, 0, 0.034),
    0 2.7px 1.3px rgba(0, 0, 0, 0.048),
    0 1.5px 1px rgba(0, 0, 0, 0.06),
    0 2.3px 7.9px rgba(0, 0, 0, 0.072),
    0 4.8px 3.4px rgba(0, 0, 0, 0.086),
    0 10px 8px rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;   
    cursor: pointer;
}



footer{
    padding: 0% 20%;
    justify-content: space-around;
    
    
    background-color:#fff;
    border-top: 1px solid #ccc;
}

footer .footer-container{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-around;

}
footer ul li:hover{
    text-decoration: underline;
}

footer ul li{
    color: #0073bb;
}

footer .title{
    color: red;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}

footer .footer-background{
    min-height: 150px;
    background-image:url("https://s3-media0.fl.yelpcdn.com/assets/public/footer_cityscape.yelp_styleguide.yji-573fa19c843556eac5a998fc6d1f80f8.png" );
    background-repeat: no-repeat;
    background-position: bottom;
}

footer .copyright{
    margin-top: 10px;
    color: #666;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}

/* Mobile view hidden */

.mobile-view{
    display: none;
}


/* Media query */

@media screen and (max-width: 767.9px) {
    .mobile-view{
        display: block;
    }
 body{
     width: 100%;
     background-color: white;
 }
   body .web-view {
       display: none;
   }

   body {
       background-color: #f3f2f2;
       color: black;
       height: 100%;
   }
   nav .nav-main{
       background-color: red;
       display: flex;
       justify-content: space-around;
       align-items: center;
       height: 50px;
   }

   nav .menu-section{
       display: flex;
   }

   .nav-main .open-app{
       border: 1px solid #91151c;
       border-radius: 3px;
       color: #fff;
       background-color: #bc1d25;
       padding: 6px 9px 6px 6px;
       display: flex; 
       align-items: center;
   }

   .services{
       display: flex;
       flex-flow: column;
       justify-content: space-around;
       padding: 20px 10px;
       background-color: white;
       margin-bottom: 25px;
   }

   .services .items{
       display: flex;
       color: black;
       font-size: 12px;
       justify-content: space-around;
    
   }

   .services .items li{
       text-align: center;
   }

   .services-pro{
       padding: 20px 0px;
       background-color: white;
       border-top: 1px solid #e6e6e6;;
       border-bottom: 1px solid #e6e6e6;
       overflow-x: hidden;
   }

   .services-pro .list-service{
       display: flex;
       margin-left: 10px;
       position: relative;
       /* left: -190px; */
       
   }

   .services-pro .list-service .service-images{
       border-radius: 5px;
       margin-right: 8px;
   }

   .yelp-button{
       background-color: #0097ec;
       text-align: center;
       padding: 20px 0px;
       border-radius: 4px;
       margin:20px 10px;
       color: white;
   }

   .business{
       padding: 10px;
       background-color: white;
       border-top: 1px solid #d4d3d3;
       border-bottom: 1px solid #d4d3d3;
   }

   .business .menu-images{
       border-radius: 5px;
       width: 60px;
   }

   .business .each-menu{
       display: flex;
       padding-left: 10px;
       padding-top: 5px;
       padding-bottom: 5px;
       border-bottom: 1px solid #d4d3d3;

   }

   .business .each-menu .details{
       padding-left: 10px;
       color: #0073bb;
       font-weight: 600;
   }

   .more-section{
       color: #666;
       background-color: white;
       padding: 10px;
       margin: 10px 8px;
       border: 1px solid rgb(187, 184, 184);
       border-radius: 4px;
       text-align: center;
   }

   .mobile-footer{
       margin-top: 50px;
       text-align: center;
       padding: inherit;
       padding: 0% 10%;
       padding-top: 20px;
       background-color: #f3f2f2;
       font-weight: 600;
   }

   .mobile-footer div,ul{
       
   }

   .mobile-footer .footer-selections{
       display: flex;
       justify-content: space-around;
       font-size: 14px;
       
   }

   /* .mobile-footer div ul{
       padding-bottom: 10px;
   } */

   .rating-star-mobile{
    /* position: absolute; */
    clip: rect(117px,60px,130px,0px);
    margin-bottom: 150px;
    width: 100px;
    height: 35px;   /*Change this value to select particular start value*/
    object-fit: cover;   
    overflow: hidden;
    }

}