* {
    margin: 0;
    padding: 0;
}

* li  {
list-style-type: none;
}

* body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*Navigation bar begins*/

nav{
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    width: 100%;
    height: 60px; 
    background-color: #2874f0;

}

nav .search{
    flex:3;
    display: flex;
    padding-left: 12%;   
    font-style: italic;
    align-items: center;
}

nav .title{
    display: flex;
    color: white;  
    font-size: 20px; 
    padding-right: 10px;
    font-weight: 600;
  
    justify-content: center;
    height: 40px;
}

nav .search-bar{
    width: 80%;
    height: 35px;
    border: none;
    border-right: none;
}

nav .search-bar::placeholder{
    padding-left: 10px;
    
}

nav .plus-image{
    width: 10px;
    height: 10px;
    padding-top: 2px;
}

nav .nav-buttons{
    color: white;
    display: flex;
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 10%;
}

nav .login{
    color: #2874f0;
    font-size: 16px;
    width: 120px;
    height: 30px;
    border: none;
    font-weight: 600;    
}

nav .more{
    font-weight: 600;
    
}

nav .cart{
    font-weight: 600;
    display: flex;

}

nav .cart-icon{
    width: 18px;
    margin-right: 4px;
}

nav .down-arrow{
    transform: rotate(270deg);
  
}

nav .search-lense{
    background-color: white;
    height: 20px;
    border: none;
    padding-top: 8px;
    padding-right: 8px;

} /*Navigation bar ends*/

/*Horizontal list begins*/

header{
    padding-top: 70px;
}

header .horizontal-options{
    display: flex;
    justify-content: space-around;
    padding: 10px 5%;
    padding-top: 4px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
    
}

.arrow{
    transform: rotate(90deg);
    width: 6px;
    height: 8px;
}

/* Main begin */
 
main{
    display: flex;
}

/* main left side */

main .left-side{
    background-color: green;
}

main .add-container{
    padding: 10px;
    margin:10px
}
/* 
main right side */

main .right-side{
    background-color:blueviolet;
    flex: 1;
}

main .right-side .second-part-body .row{
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    margin-bottom: 10px;
}

main .right-side .second-part-body .row-1{
    width: 18%;
    background-color: slategray;
    display: flex;
    justify-content: space-around;
}

main .right-side .category{
    color: red;
    display: flex;
}

main .right-side .category li{
    padding-right: 10px;

}

main .right-side .sort-order{
    display: flex;

}

main .right-side .sort-order li{
    padding-right: 10px;
}

main .right-side .page-numbers{
    display: flex;
}

main .right-side .pages{
    display: flex;
}

main .right-side .bottom-question{
    display: flex;
}

main .right-side .part-1-images{
    width: 100%;
}

/* mid sectin portion */

section .review-row{
    background: skyblue;
    display: flex;
    margin-bottom: 10px;
}

/* footer */

footer{
    background-color: black;
    color: white;
}

footer .part-1{
    display: flex;
}

footer .part-2 ul{
    display: flex;
}