* {
    margin: 0;
    padding: 0;
}

* li  {
list-style-type: none;
}

* body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*Navigation bar begins*/

nav{
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    width: 100%;
    height: 60px; 
    background-color: #2874f0;
    box-shadow: 3px 1px 4px #808080 ;
}

nav .search{
    flex:3;
    display: flex;
    padding-left: 12%;   
    font-style: italic;
    align-items: center;
}

nav .title{
    display: flex;
    color: white;  
    font-size: 20px; 
    padding-right: 10px;
    font-weight: 600;
  
    justify-content: center;
    height: 40px;
}

nav .search-bar{
    width: 80%;
    height: 35px;
    border: none;
    border-right: none;
}

nav .search-bar::placeholder{
    padding-left: 10px;
    
}

nav .plus-image{
    width: 10px;
    height: 10px;
    padding-top: 2px;
}

nav .nav-buttons{
    color: white;
    display: flex;
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 10%;
}

nav .login{
    color: #2874f0;
    font-size: 16px;
    width: 120px;
    height: 30px;
    border: none;
    font-weight: 600;    
}

nav .more{
    font-weight: 600;
    
}

nav .cart{
    font-weight: 600;
    display: flex;

}

nav .cart-icon{
    width: 18px;
    margin-right: 4px;
}

nav .down-arrow{
    transform: rotate(270deg);
  
}

nav .search-lense{
    background-color: white;
    height: 20px;
    border: none;
    padding-top: 8px;
    padding-right: 8px;

} /*Navigation bar ends*/

/*Horizontal list begins*/

header{
    padding-top: 70px;
}

header .horizontal-options{
    display: flex;
    justify-content: space-around;
    padding: 10px 5%;
    padding-top: 4px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
    
}

.arrow{
    transform: rotate(90deg);
    width: 6px;
    height: 8px;
}

/* Main begin */
 
main{
    display: flex;
    background-color: rgb(231, 229, 229);
}

/* main left side */

main .left-side{
    background-color: rgb(231, 229, 229);
    flex: 0 0 280px;
    max-width: 280px;
}

main .left-side .ad-container{
    background-color: white;
    box-shadow: 3px 1px 4px #808080 ;

}

main .left-ad{
    width: 100%;
}

main .ad-container{
    margin: 10px;
}

main .ad-container a{
    font-weight: 600;
}

main .ad-container .offer-price{
    font-size: 12px;
}

main .ad-container .ad-image{
    width: 100%;
}

main .left-side .main-selectors{
   background-color: white;
   margin: 10px;
   box-shadow: 3px 1px 4px #808080 ;
}

main .left-side .main-selectors{
    padding-left: 10px;
}


main .left-side .main-selectors .filters .filter-title{
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid rgb(233, 230, 230);
    padding-bottom: 10px;
}

main .left-side .categories{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(233, 230, 230);
}

main .left-side .categories-title{
    font-size:12px ;
    font-weight: 700;
}

main .left-side .categories div,ul,li{
    margin-top: 6px;

}

main .left-side .categories-arrow{
    width: 6px;
    transform: rotate(180deg);
}

main .left-side .categories ul{
    color: rgb(148, 147, 147);
    font-size: 14px;
    border-bottom: 1px solid rgb(233, 230, 230);
}

main .left-side .price{
    border-bottom: 1px solid rgb(212, 209, 209);
    color: black;
    padding-bottom: 10px;
}

.main .left-side .price-list{
    width: 100px;
    border: 1px solid rgb(224, 222, 222);
    padding:3px 10px;

}

main .left-side .price .graph-section{
    height: 100%;
    position: relative;
    bottom: -6px;
}

main .left-side .price .graph-box {
    background: #e0e0e0;
    display: inline-block; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main .left-side .price .slider{
    display: block;
}

main .left-side .price .slider-bar{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main .left-side .assured{
    display: flex;
    align-items: center;  
    border-bottom: 1px solid rgb(212, 209, 209); 
    height: 40px; 
}

main .left-side .assured a{
    border-radius: 50%;
    background-color: #fff;
    color: #878787;
    font-weight: 500;
    width: 16px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
    margin-left: 50%;
    cursor: pointer;
}

main .left-side .assured .assured-image{
    height: 21px;
    margin-left: 10px;
}

main .left-side .discount{
    border-bottom: 1px solid rgb(212, 209, 209); 
    padding-top: 20px;
    padding-bottom: 20px;
}

main .left-side .discount .discount-title{
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 10px;
}

main .left-side .discount ul li{
    font-size: 14px;
    color:#212121;   
    padding-bottom: 10px; 
}

main .left-side .type{
    border-bottom: 1px solid rgb(212, 209, 209); 
    padding-top: 20px;
    padding-bottom: 20px;
}

main .left-side .type ul li{
    font-size: 14px;
    color:#212121;   
    padding-bottom: 10px; 
}

main .left-side .type .type-title{
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 10px;
}

main .left-side .type .more{
    color: #2874f0;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

main .left-side .size{  
    padding-top: 20px;
    padding-bottom: 20px;
}

main .left-side .size div{
    padding-left:4%;
}

main .left-side .size .size-title{
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 10px;
}

main .left-side .size .more{
    color: #2874f0;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

main .left-side .size ul li{
    font-size: 14px;
    color:#212121;   
    padding-bottom: 10px; 
}

main .left-side .sleeve{
    border-bottom: 1px solid rgb(212, 209, 209); 
    padding-top: 20px;
    padding-bottom: 20px;
}

main .left-side .sleeve ul li{
    font-size: 14px;
    color:#212121;   
    padding-bottom: 10px; 
}

main .left-side .brand{
    border-bottom: 1px solid rgb(212, 209, 209); 
    padding-top: 20px;
    padding-bottom: 20px;
}

main .left-side .brand-title{
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 10px;
}

main .left-side .brand-search{
    outline: none;
    border: none;
}

main .left-side .brand .search-lense{
    width: 12px;
    height: 12px;
    margin-right: 5px;  
    filter: grayscale(100%);
}

main .left-side .brand .search-bar{
    border-bottom: 2px solid #e0e0e0;
}

main .left-side .brand ul li{
    font-size: 14px;
    color:#212121;   
    padding-bottom: 10px; 
}

main .left-side .brand .more{
    color: #2874f0;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

main .left-side .customer-ratings{
    border-bottom: 1px solid rgb(212, 209, 209); 
    padding-top: 20px;
    padding-bottom: 20px;

}

main .left-side .theme{
    border-bottom: 1px solid rgb(212, 209, 209); 
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
}

main .left-side .pattern{
    border-bottom: 1px solid rgb(212, 209, 209); 
    padding-top: 20px;
    padding-bottom: 20px;
}

main .left-side .pattern-title{
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 10px;
}

main .left-side .pattern-search{
    outline: none;
    border: none;
}

main .left-side .pattern .search-lense{
    width: 12px;
    height: 12px;
    margin-right: 5px;  
    filter: grayscale(100%);
}

main .left-side .pattern .search-bar{
    border-bottom: 2px solid #e0e0e0;
}

main .left-side .pattern ul li{
    font-size: 14px;
    color:#212121;   
    padding-bottom: 10px; 
}

main .left-side .pattern .more{
    color: #2874f0;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

main .left-side .color-select{
    border-bottom: 1px solid rgb(212, 209, 209); 
    padding-top: 20px;
    padding-bottom: 20px;

}

main .left-side .color-title{
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 10px;
}

main .left-side .color-select .color-circle{
    width: 16px;
    height: 16px;
    border-radius: 100px;
    vertical-align: bottom;
    border: 1px solid rgba(0,0,0,.1);
}

main .left-side .color-select ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;    
}

main .left-side .color-select .more{
    color: #2874f0;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

main .left-side .fit{
    border-bottom: 1px solid rgb(212, 209, 209); 
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
    font-weight: 500;

}

main .left-side .occasion{
    border-bottom: 1px solid rgb(212, 209, 209); 
    padding-top: 20px;
    padding-bottom: 20px;
}

main .left-side .occasion .occasion-title{
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 10px;
}

main .left-side .occasion ul li input,span{
    margin-right: 2%;
}

main .left-side .occasion ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;  
}

main .left-side .multipack{
    border-bottom: 1px solid rgb(212, 209, 209); 
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
}

main .left-side .offers{
    border-bottom: 1px solid rgb(212, 209, 209); 
    padding-top: 20px;
    padding-bottom: 20px;
}

main .left-side .offers .offers-title{
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 10px;
}

main .left-side .offers ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;  
}

main .left-side .offers .checkbox {
    margin-right: 2%;    
}

main .left-side .availability{
    border-bottom: 1px solid rgb(212, 209, 209); 
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
    
}

main .left-side .ideal-for{ 
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
}

/* 
main right side */

main .right-side{  
    flex: 1;
    margin: 10px;
    background-color: white;
    box-shadow: 3px 1px 4px #808080 ;
    padding:10px;
}

main .right-side .second-part-header{
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(233, 230, 230);
}

main .right-side .second-part-body .row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

main .right-side .second-part-body .row-1{
    width: 18%;
    display: flex;
    justify-content: space-around;
}

main .right-side .second-part-body .brand-name{
    color: #878787;
}

main .right-side .second-part-body .cloth-name{
    color:black;
}

main .right-side .second-part-body .off-percentage{
    color: #388e3c;
    font-size: 13px;
    font-weight: 500;
}

main .right-side .second-part-body .current-price{
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}

main .right-side .second-part-body .old-price{
    text-decoration: line-through;
    font-size: 14px;
    color: #878787;
}

main .right-side .second-part-body .row-1 .coin{
    height: 12px;
}

main .right-side .second-part-body .row-1 .size{
    color: #878787;  
    font-size: 14px;
    font-weight: 500;

}

main .right-side .second-part-body .row-1 .each-size{
    color: black;
    letter-spacing: 3px;
    margin-left: 2%;
} 

/* main .right-side .second-part-body .hovering-items{
    
} */

main .right-side .page-numbers{
    display: flex;
  
}

main .right-side .current-page{
    flex: 1;
    padding-top: 12px;
}

main .right-side .number-pages{
    flex: 2;
    display: flex;
    margin-bottom: 30px;
}

main .right-side .number-pages .pages li{
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    
}

main .right-side .page-numbers .pages{
    flex: 1;
    justify-content: center;
  
}

main .right-side .page-numbers .next{
    flex: 2;
    padding-top: 12px;
    color: #2874f0;
    font-weight: 600;
}

main .right-side .category{
    display: flex;
    font-size: 12px;
    color: #878787;
}

main .right-side .category .arrow{
    width: 6px;
    transform: rotate(0deg);
    padding-left: 4px;

}

main .right-side .numbers-listed{
    margin-left: 10px;
   
    font-weight: 500;
    font-size: 16px;
}

main .right-side .numbers-listed span{
    font-size: 12px;
    color: #878787;
}


main .right-side .second-part-header .category{
    margin-bottom: 10px;
}

main .right-side .category li{
    padding-right: 10px;

}

main .right-side .second-part-header .sort-order .sort-by{
    font-size: 14px;
    font-weight: 500;
}

main .right-side .second-part-header .sort-order .popularity{
    color:#2874f0;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 2px solid #2874f0 ;
}

main .right-side .second-part-header .sort-order li{
    font-size: 14px;
}

main .right-side .sort-order{
    display: flex;
}

main .right-side .sort-order li{
    padding-right: 10px;
}

main .right-side .page-numbers{
    display: flex;
}

main .right-side .pages{
    display: flex;
}

main .right-side .bottom-question{
    display: flex;
    font-weight: 500;
}

main .right-side .part-1-images{
    width: 100%;
}

main .right-side .bottom-question button{
    width: 70px;
    height: 30px;
    background-color: white;
    border: 1px solid #d7d7d7;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 600;
}

/* mid sectin portion */

section .review-row{
    background: skyblue;
    display: flex;
    margin-bottom: 10px;
}

/* footer */

/* footer{
    background-color: black;
    color: white;
}

footer .part-1{
    display: flex;
}

footer .part-2 ul{
    display: flex;
} */

footer{
    background-color: black;
    color: white;
    display: block;
    padding: 50px;
    font-size: 13px;
  }
  
  .footer-firstpart{
    display: flex;
    flex: 1;
    padding-bottom: 30px;
    border-bottom: 1px solid #454d5e;
    border-radius: 3px;
  }
  
  .footer-secondpart{
    display: flex;
    flex-flow: row;
  }
  .footer-seperator{
    border-left: 1px solid #454d5e ;
    padding-right: 20px;
  }
  