* {
    margin: 0;
    padding: 0;
}
* li{
list-style-type: none;
}
* body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;       
}

main,section,footer,.contact{
    margin: 30px;
}

header{
    background-color:#e61400;
    display: flex;
    padding: 12px 5px;
    align-items: center;
    justify-content: center;    
}
header .title{
    color: white;
    flex: 1;
    padding-left: 20px;
    font-size: 20px;
}
header .list{
    flex: 2;
    font-size: 12px;
}
header .list a{
    margin-right: 30px;
}
header .menu{
    flex: 1; 
    opacity: 0.6;   
}
header .menu :hover{
    color: white;
    opacity: 0.8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.2s ease;   
    cursor: pointer;
    
}
header .menu a{
    padding-left: 70%; 
   
}
header .menu a img{
    width: 20px;
    height: 30px;
    
}
header .list a.lower-opacity{
    color: white;
    opacity: 0.6;
}
header .list a:hover{
    color: white;
    opacity: 0.8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.2s ease;   
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f1ed;
    /* padding:10px 5px; */
    font-size: 14px;
}
nav a{
    margin-right: 20px;  
    padding: 10px; 
}
nav a:hover{
    /* display: block; */
    background-color: rgb(209, 203, 203);
    padding: 9px;
}
main{
    text-align: center;
}
main .heading{
    font-size: 38px;
}
main .description{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 300;
}
main .description span{
    color: blue;
}
main .description span:hover{
    color: rgb(231, 54, 54);
}



section{
    display: flex;
}
section .box{
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
}
section .topic{
    color: #e61400;
    font-size: 14px;
    font-weight: 700;
}
section .date{
    color: rgb(173, 166, 166);
    font-size: 10px;
}


section li{
   margin-bottom: 10px;
}

section .box ul li:hover{
    color: red;
}
  
.box .box-list {
    color: blue;
}
.box .box-list :hover{
    color: red;
}

.contact{
    display: flex;
    flex-direction: column;
}
.contact h4{
    color:#e61400 ;
}
.contact .map-image{
    width: 200px;
    height: 100px;
}
.contact  :hover{
    cursor: pointer;
}

footer{
    display: flex;
    margin-bottom: 100px;
    
}
footer .first-part{
    flex: 3;
}
footer .second-part{
    flex: 1;
}
footer .footer-heading{
    font-size: 13px;
    margin-bottom: 10px;
}
.footer-lower{
    color: rgb(175, 170, 170);
    display: flex;
    font-size: 11px;
    padding-bottom: 20px;
    padding-top: 6px;
    border-top: 1px solid rgb(228, 222, 222);
}
.footer-lower .first-part{
    flex: 4;
    margin-left: 25px;
}
.footer-lower .second-part{
    flex: 1;
}
.footer-lower a{
    margin-right: 15px;
}

footer a :hover{
    color: red;
}

.footer-items{
    color: blue;
}

.footer-items:hover{
    color: red;
}
.footer-icons{
    width: 18px;
    height: 18px;
    padding-right: 10px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.7;
    
}
.footer-icons:hover{
    -webkit-filter: inherit;
    filter: inherit;
    opacity: 1;
}