*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

body {
   background: white;
}

.wrapper {
    background: rgb(6, 71, 66);
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
/* menu base styles*/

nav a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 10px;

}

nav a:hover{
    background-color: #555;
}

/* social menu base styles*/

a.tw{
    color: re;
    /* background-image: url(img/tw.png) no-repeat center;
    background-size: 80%; */
}

a.fb{
    background-image: url(img/fb.png) no-repeat center;
    background-size: 80%;
}

/* flex styles*/
ul{
      list-style-type: none;
}

.social{
    max-width: 200px;
    margin: 0 auto;
}
nav ul.social{

    display: flex;
    flex: 1 1 0;
    list-style-type: none;

}

@media screen and (min-width:768px){
    nav ul{
        display: flex;
        list-style-type: none;
    }

    nav li{
         flex: 1 1 0;
        
    }
    nav {
        display: flex;
        justify-content: space-between;
        

    }
    
.social{
    
    margin: 0 ;
}
}
/*end media 768*/