.wrapper{
    background-color: #ffff;
    max-width: 960px;
    margin: 0;
    padding: 20px;
}

.wrapper:after{
    content: "";
    display: block;
    clear: both;
}
img{
    /* float: left; */
    margin-right: 20px;
    float: right;
}
.blue{
    background: blue;
    float: right;
}
.red{
    background: red;
    float: right;
}
.green{
    background: green;
}
.box{
    height: 100px;
    width: 100px;
}


.service h2, .service p{
    color: #999;
    margin:10px 0;
    text-align: center;
}

.service{
    float: left;
    background: #eee;
    width: 29%;
    margin:1%;
    padding: 1%;
    height: 140px;
}