*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* menu base styles */

nav{
    background: #333;
}

nav ul {
    list-style-type:none;
    padding: 0;
}

nav a{
    text-decoration: none;

    color:#fff;
    display: block;
    padding: 10px;
    background-color: #777;
}

nav a:hover{
    background: #555;

}


@media screen and (min-width: 600px){

nav ul{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    
}
nav li{
    flex: 1 1 0;
}







}

/* flex styles */