a {text-decoration: none; }
.nav-bar-logo{
    width: 108px;
    height: 23px;
    background-size: contain;
}
.nav-bar-button{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 54px;
    white-space: nowrap;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-bar-logo{
    flex: 5;
}
.logo-image {
    width: 300px;
    height: 40pxpx;
    background-size: contain;

}
.nav-title{
    text-align: center;
    font-size: 54px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    width: 32px;
    height: 32px;
    font-weight: 600;
}
.nav-menu{
 flex:2;
}
.title-menu{
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction:row;
    margin-top: 50px;
    margin-right: 40px;
}

.title-menu > div{
    margin: 10px;
    text-align: center;
}
.nav-title{
    margin-right: 30px;
}
.page-action{
    padding-left: 80%;
    display: flex;
    
    align-items: center;
    justify-content: center;
    text-align: right;
    height: 200px;
}

.action-menu{  
    height: 40px; 
    padding: 20px 40px; 
    border: 1px solid black;
}
.documentation-container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #005ba1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10%;
    
}
.doc-heading{   
    font-size: 44px ;
    font-weight: 400;
}

.doc-para{
    font-size: 38px;
}

.list-container{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around;  
    flex-direction: column;
    text-align: center;
    background: #fcfcfc;
    justify-content:space-around;
}
.list-box{
    padding: 8%;
    background: #ffffff;
    margin: 6% 4%;
    box-shadow:
    0 1.8px 1.2px rgba(0, 0, 0, 0.034),
    0 2.7px 1.3px rgba(0, 0, 0, 0.048),
    0 1.5px 1px rgba(0, 0, 0, 0.06),
    0 2.3px 7.9px rgba(0, 0, 0, 0.072),
    0 4.8px 3.4px rgba(0, 0, 0, 0.086),
    0 10px 8px rgba(0, 0, 0, 0.12)   
}
.heading{
    color: 	#73787c;
    text-align: left;
    font-size: 12px;

}
.content{
    color: #0d5f9f;
    text-align: left;
    font-weight:650;
}


.list-selection-container{
    margin-top: 80px;
}

.browse{
    display: flex;
    background: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around;  
    flex-direction: column;
    text-align: left;
    padding: 20% 5%;
    
}
.browse-heading{
    font-size: 70px;
    font-weight: 500;
}

.features-list{
    width: 100%;
    height: 100px;
    font-size: 40px;
    Border: 2px solid black;
    padding: 10px 20px ;
}
.feature-box{
    box-shadow:
    0 1.8px 1.2px rgba(0, 0, 0, 0.034),
    0 2.7px 1.3px rgba(0, 0, 0, 0.048),
    0 1.5px 1px rgba(0, 0, 0, 0.06),
    0 2.3px 7.9px rgba(0, 0, 0, 0.072),
    0 4.8px 3.4px rgba(0, 0, 0, 0.086),
    0 10px 8px rgba(0, 0, 0, 0.12)   
}
.feature-options{
    font-size: 10px;
}
.blockchain-list{
   list-style-type:none;

}
.blockchain-list > li{
    color:red
 
 }
 #icon{
    background-image:url(./icons/menu.svg); 
    background-repeat: no-repeat; 
    background-position: 32px 32px;
    }
.tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.tools-icons{
    width: 90px;
    height: 90px;
}
.tools-box{
    width: 85%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:30px 40px;
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
    margin: 40px 20px;
    box-shadow:
    0 1.8px 1.2px rgba(0, 0, 0, 0.034),
    0 2.7px 1.3px rgba(0, 0, 0, 0.048),
    0 1.5px 1px rgba(0, 0, 0, 0.06),
    0 2.3px 7.9px rgba(0, 0, 0, 0.072),
    0 4.8px 3.4px rgba(0, 0, 0, 0.086),
    0 10px 8px rgba(0, 0, 0, 0.12)   
    
}

.tools-icons{
    padding: left 20px;
    flex: 1;

}
.tools-names{
    color: #0368b4;
    font-weight: 500;
    flex: 4;
    text-align: left;
    font-size: 60px;
}
.tools-heading{
   text-align: left;
   margin-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 90px;
    margin-top: 20%;
    margin-bottom:5% ;
}



.heading-clouds{
  color:#0d5f9f ;
  font-weight:650;
    text-align: left;
    font-size: 24px;

}
.content-clouds{
    color: #73787c;
    text-align: left;
   
}

.content-clouds::before{
  content: '\a' ;
  white-space: pre;  
  }

  footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: #e3e3e3;
      padding: 8% 4%;
  }
  .footer-part1{
    justify-content: flex-end;
      
      display: flex;  
    
  }

  footer ul{
      list-style-type: none;
  }
.language-theme{
    
    padding-right: 40px;
    align-items: left;
    justify-content: left;
    font-size: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row; 
    flex: 1 5;
   
     
}
.earth{
    width: 50px;
    height: 50px;
    margin-right: 20px;

}
.footer-part2{ 
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
}
/* .footer-part2 li{
    font-size: 30px; 

} */
.language-theme{
    font-size: 45px;
}
.theme-sun{
    display: flex;  
    flex-flow: row;
    justify-content:center;
    align-items: center
}
.footer-part2-main{
    font-size: 30px;
}
.features-list div:hover, .same-as-selected {
    background: yellow;
   
   }


   .feature-box .select-selected {
    background-color: red;
  }